<div class="convoyeur-page">
  <div class="convoyeur-header">
    <!-- <h1 class="convoyeur-title">La liste des convoyeurs</h1> -->
      <h1>{{ t('CONVOYEUR_LIST') }}</h1>

    <div class="convoyeur-header__actions">
      <div class="convoyeur-header__left">
        <mat-form-field appearance="outline" class="convoyeur-search">
          <!-- <mat-label>Chercher convoyeur</mat-label> -->
            <mat-label>{{ t('CONVOYEUR_SEARCH_LABEL') }}</mat-label>
          <!-- <input matInput type="text" [formControl]="searchControl" placeholder="Nom, email, téléphone"/> -->
           <input matInput type="text" [formControl]="searchControl" placeholder="{{ t('CONVOYEUR_SEARCH_PLACEHOLDER') }}" />
        </mat-form-field>

        <div class="export-actions" aria-label="Export actions">
          <button mat-icon-button class="export-btn export-excel" (click)="exportExcel()" title="Export Excel">
           
            <svg viewBox="0 0 24 24" class="export-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <rect x="2" y="3" width="20" height="18" rx="2" fill="#107C10"></rect>
              <text x="12" y="16" text-anchor="middle" font-size="10" font-weight="700" fill="#fff">XLS</text>
            </svg>
          </button>

          <button mat-icon-button class="export-btn export-csv" (click)="exportCSV()" title="Export CSV">
           
            <svg viewBox="0 0 24 24" class="export-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <rect x="2" y="3" width="20" height="18" rx="2" fill="#1E90FF"></rect>
              <text x="12" y="16" text-anchor="middle" font-size="9" font-weight="700" fill="#fff">CSV</text>
            </svg>
          </button>

          <button mat-icon-button class="export-btn export-pdf" (click)="exportPDF()" title="Export PDF">
          
            <svg viewBox="0 0 24 24" class="export-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <rect x="2" y="3" width="20" height="18" rx="2" fill="#D32F2F"></rect>
              <text x="12" y="16" text-anchor="middle" font-size="9" font-weight="700" fill="#fff">PDF</text>
            </svg>
          </button>
        </div>
      </div>

      <div class="convoyeur-header__right">
        <!-- <button *ngIf="auth.hasPermission('CONVOYEUR_ADD')" mat-flat-button class="convoyeur-add-btn" (click)="add()" type="button">
          Ajouter
        </button> -->
      <button *ngIf="auth.hasPermission('CONVOYEUR_ADD')" 
           mat-flat-button class="convoyeur-add-btn" (click)="add()" type="button">
           {{ t('CONVOYEUR_ADD_BTN') }}
      </button>

      </div>
    </div>
  </div>

  <app-table
    [PagedData]="pagedConvoyeurData"
    [pageIndex]="filter.pageIndex"
    [pageSize]="filter.pageSize"
    [displayedColumns]="showCols"
    (rowClick)="onRowClick($event)"
    (onPageChange)="pageChange($event)">
  </app-table>
</div>
